<section id="explore">
    <div class="container">
        <div class="row">
            <div class="watch">
                <img class="img-responsive" src="images/watch.png" alt="">
            </div>
            <div class="col-md-4 col-md-offset-2 col-sm-5">
                <h2>Prochain événement dans </h2>
            </div>
            <div class="col-sm-7 col-md-6">
                <ul id="countdown">
                    <li>
                        <span class="days time-font">00</span>
                        <p>Jours </p>
                    </li>
                    <li>
                        <span class="hours time-font">00</span>
                        <p class="">heures </p>
                    </li>
                    <li>
                        <span class="minutes time-font">00</span>
                        <p class="">minutes</p>
                    </li>
                    <li>
                        <span class="seconds time-font">00</span>
                        <p class="">seconds</p>
                    </li>
                </ul>
            </div>
            <div class="col-md-4 col-md-offset-2 col-sm-5">
                <h3>Le 16 Juillet 2017</h3>
            </div>
        </div>
        <div class="cart">
            <a href="#map">
                <i class="fa fa-map-marker"></i><span>Voir la carte</span>
            </a>
        </div>
    </div>
</section><!--/#explore-->
