<section id="event">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-9">
                <div id="event-carousel" class="carousel slide" data-interval="false">
                    <h2 class="heading">Galerie photo</h2>
                    <a class="even-control-left" href="#event-carousel" data-slide="prev"><i class="fa fa-angle-left"></i></a>
                    <a class="even-control-right" href="#event-carousel" data-slide="next"><i class="fa fa-angle-right"></i></a>
                    <div class="carousel-inner">
                        {% assign start = 0 %}
                        {% assign tab = site.editions | reverse %}
                        {% capture mod %}{{ site.editions.size | divided_by:3 | ceil }}{% endcapture %}
                        {% for i in (0..mod) %}
                            {% if i == 0 %}
                            <div class="item active">
                            {% else %}
                            <div class="item">
                            {% endif %}
                                <div class="row">
                                    {% for item in tab offset:start limit:3 %}
                                        <div class="col-sm-4">
                                            <div class="single-event">
                                                <img class="img-responsive" src="images/event/{{ item.title }}/{{ item.img }}" alt="{{ item.alt }}">
                                                <h4>{{ item.title }}</h4>
                                                <h5>{{ item.subtitle }}</h5>
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% capture start %}{{ start | plus:3 }}{% endcapture %}
                                </div>
                            </div>
                        {% endfor %}
                        <!-- <div class="item bands">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="single-event">
                                        <img class="img-responsive" src="images/event/event1.jpg" alt="event-image">
                                        <h4>Chester Bennington</h4>
                                        <h5>Vocal</h5>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="single-event">
                                        <img class="img-responsive" src="images/event/event2.jpg" alt="event-image">
                                        <h4>Mike Shinoda</h4>
                                        <h5>vocals, rhythm guitar</h5>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="single-event">
                                        <img class="img-responsive" src="images/event/event3.jpg" alt="event-image">
                                        <h4>Rob Bourdon</h4>
                                        <h5>drums</h5>
                                    </div>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="guitar">
                <img class="img-responsive" src="images/guitar.png" alt="guitar">
            </div>
        </div>
    </div>
</section><!--/#event-->
