<header id="header" role="banner">
	<div class="main-nav">
		<div class="container">
			<div class="header-top">
				<div class="pull-right social-icons">
					<a href="https://www.facebook.com/festiroutils.musiquesdumonde?fref=ts"><i class="fa fa-facebook"></i></a>
					<a href="https://www.youtube.com/user/lesfestiroutils"><i class="fa fa-youtube"></i></a>
				</div>
			</div>
	        <div class="row">
	            <div class="navbar-header">
	                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	                    <span class="sr-only">Toggle navigation</span>
	                    <span class="icon-bar"></span>
	                    <span class="icon-bar"></span>
	                    <span class="icon-bar"></span>
	                </button>
	                <a class="navbar-brand" href="/">
	                	<img class="img-responsive" style="max-width: 70%; right:26px" src="images/logo-festi-white.png" alt="logo">
	                </a>
	            </div>
	            <div class="collapse navbar-collapse">
	                <ul class="nav navbar-nav navbar-right">
	                    <li {% if page.url == "/" %} class="active"{% endif %}><a href="/">Accueil</a></li>
	                    <li {% if page.url == "/informations.html" %} class="active"{% endif %}><a href="/informations">Informations</a></li>
	                    <li {% if page.url == "/gallery.html" %} class="active"{% endif %}><a href="/gallery">Galerie</a></li>
	                    <li class="scroll"><a href="/#about">À propos</a></li>
	                    <li class="scroll"><a href="/#contact">Contact</a></li>
	                </ul>
	            </div>
	        </div>
        </div>
    </div>
</header>
<!--/#header-->
