<section id="program">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Programmation</h2>
            </div>
            <!-- <div class="col-md-12" style=""> -->
                <div class="program-content">
                    <!-- <hr/> -->
                    <h2>Tremplin jeunes</h2>
                    <hr/>

                    <a target="_blank" href="http://groupelapetaquita.wix.com/lapetaquita"><h3>Fanny</h3></a>
                    <div class="program-links">
                        <div>
                            <!-- <a target="_blank" href="https://soundcloud.com/jennifer-addi/sets/la-petaquita"><i class="fa fa-soundcloud"></i></a> -->
                            <!-- <a target="_blank" href="https://www.youtube.com/watch?v=6wo136JY1sc&nohtml5=False"><i class="fa fa-youtube"></i></a> -->
                        </div>
                    </div>
                    <h3>École de musique de Nonancourt</h3>
                    <br/>
                    <h2>Groupes</h2>
                    <hr/>
                    <a target="_blank" href="http://groupelapetaquita.wix.com/lapetaquita"><h3>La Petaquita</h3></a>
                    <div class="program-links">
                        <div>
                            <a target="_blank" href="https://soundcloud.com/jennifer-addi/sets/la-petaquita"><i class="fa fa-soundcloud"></i></a>
                            <a target="_blank" href="https://www.youtube.com/watch?v=6wo136JY1sc&nohtml5=False"><i class="fa fa-youtube"></i></a>
                        </div>
                    </div>
                    <a target="_blank" href="http://www.serge-lavalette.fr/"><h3>Serge Lavalette Trio</h3></a>
                    <div class="program-links">
                        <div>
                            <a target="_blank" href="https://soundcloud.com/serge-lavalette"><i class="fa fa-soundcloud"></i></a>
                            <a target="_blank" href="https://www.youtube.com/watch?v=igWSSYr154k"><i class="fa fa-youtube"></i></a>
                        </div>
                    </div>
                    <!-- <br/> -->
                    <a target="_blank" href="http://gad-zukes.com/"><h3>Gad Zukes</h3></a>
                    <div class="program-links">
                        <div>
                            <a target="_blank" href="https://soundcloud.com/gad-zukes"><i class="fa fa-soundcloud"></i></a>
                            <a target="_blank" href="https://www.youtube.com/channel/UCtUxGrQ5QW5k8ZsAYsqTrXw"><i class="fa fa-youtube"></i></a>
                        </div>
                    </div>
                    <!-- <br/> -->
                    <a target="_blank" href="http://groupelapetaquita.wix.com/lapetaquita"><h3>Les folies vertes</h3></a>
                    <div class="program-links">
                        <div>
                            <!-- <a target="_blank" href="http://lesfoliesvertes.wixsite.com/lesfoliesvertes"><i class="fa fa-soundcloud"></i></a> -->
                            <a target="_blank" href="https://www.youtube.com/channel/UCB0qgkfAMKE3Bl_EQQa4xDg"><i class="fa fa-youtube"></i></a>
                        </div>
                    </div>
                    <hr/>
                    <!-- <p>Grâce à sa diversité, ambiance garantie aux Festi'Routils!</p>
                    <p>Bon festival!</p> -->
                </div>
        </div>
    </div>
</section><!--/#explore-->
