<section id="program">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Programmation</h2>
            </div>
            <div class="program-content">
                <h3>Tremplin jeunes</h3>
                <hr/>

                <div class="group-program">
                    <div class="progra-infos">
                        <h4>Fanny</h4>
                        <div class="program-links">
                            <div>
                                <!-- <a target="_blank" href=""><i class="fa fa-soundcloud"></i></a> -->
                                <!-- <a target="_blank" href=""><i class="fa fa-youtube"></i></a> -->
                            </div>
                        </div>
                    </div>
                    <div class="progra-infos">
                        <h4>École de musique de Nonancourt</h4>
                    </div>
                </div>

                <h3>Groupes</h3>
                <hr/>
                <div class="group-program">
                    <a target="_blank" href="http://groupelapetaquita.wix.com/lapetaquita">
                    <div class="progra-infos">
                        <a target="_blank" href="http://groupelapetaquita.wix.com/lapetaquita"><h4>La Petaquita</h4></a>
                        <div class="program-links">
                            <div>
                                <a target="_blank" href="http://soundcloud.com/jennifer-addi/sets/la-petaquita"><i class="fa fa-soundcloud"></i></a>
                                <a target="_blank" href="http://www.youtube.com/watch?v=6wo136JY1sc&nohtml5=False"><i class="fa fa-youtube"></i></a>
                            </div>
                        </div>
                    </div>
                    </a>
                    <div class="progra-infos">
                        <a target="_blank" href="http://www.serge-lavalette.fr/"><h4>Serge Lavalette Trio</h4></a>
                        <div class="program-links">
                            <div>
                                <a target="_blank" href="http://soundcloud.com/serge-lavalette"><i class="fa fa-soundcloud"></i></a>
                                <a target="_blank" href="http://www.youtube.com/watch?v=igWSSYr154k"><i class="fa fa-youtube"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="progra-infos">
                        <a target="_blank" href="http://gad-zukes.com/"><h4>Gad Zukes</h4></a>
                        <div class="program-links">
                            <div>
                                <a target="_blank" href="http://soundcloud.com/gad-zukes"><i class="fa fa-soundcloud"></i></a>
                                <a target="_blank" href="http://www.youtube.com/channel/UCtUxGrQ5QW5k8ZsAYsqTrXw"><i class="fa fa-youtube"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="progra-infos">
                        <a target="_blank" href="http://lesfoliesvertes.wixsite.com/lesfoliesvertes"><h4>Les folies vertes</h4></a>
                        <div class="program-links">
                            <div>
                                <!-- <a target="_blank" href=""><i class="fa fa-soundcloud"></i></a> -->
                                <a target="_blank" href="https://www.youtube.com/channel/UCB0qgkfAMKE3Bl_EQQa4xDg"><i class="fa fa-youtube"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="progra-infos">
                        <h4>DJ Fred</h4>
                        <div class="program-links">
                            <div>
                                <!-- <a target="_blank" href=""><i class="fa fa-soundcloud"></i></a> -->
                                <!-- <a target="_blank" href=""><i class="fa fa-youtube"></i></a> -->
                            </div>
                        </div>
                    </div>
                </div>
                <br/>

                <h3>Inter groupes</h3>
                <hr/>
                <div class="group-program">
                    <div class="progra-infos">
                        <h4>Mouvman Kiltirel Tanbou</h4>
                        <p>Musique traditionnelle GWO KA</p>
                        <div class="program-links">
                            <div>
                                <a target="_blank" href="https://www.facebook.com/tanbou.mouvmankiltirel"><i class="fa fa-facebook-square"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <hr/>
            </div>
        </div>
    </div>
</section><!--/#explore-->
