<section id="about">
		<div class="guitar2">
			<img class="img-responsive" src="images/guitar2.jpg" alt="guitar">
		</div>
		<div class="about-content">
				<h2>À propos</h2>
				<p>Festival de musiques du monde "Les Festi'Routils" ont été créés en 2007 par un groupe de passionnés.
				Situé à Marcilly-la-Campagne en Haute Normandie (sud de l'Eure) ce festival est fréquenté par plus de 1000 personnes chaque année, dans une ambiance très familiale.</p>
				<p>Plus de 50 bénévoles participent et font vivre ce festival.On peut s'y restaurer à moindre coût et un parking sécurisé est à disposition des festivaliers .</p>
				<p>Grâce à une programmation toujours très variée, mélangeant les styles et les genres, ce festival est ouvert à tous les publics de Sept à soixante dix sept ans.</p>
		</div>
	</section><!--/#about-->
