<section id="sponsor">
    <div id="sponsor-carousel" class="carousel slide" data-interval="false">
        <div class="container">
            <div class="row">
                <div class="col-sm-10">
                    <h2>Partenaire</h2>
                    <a class="sponsor-control-left" href="#sponsor-carousel" data-slide="prev"><i class="fa fa-angle-left"></i></a>
                    <a class="sponsor-control-right" href="#sponsor-carousel" data-slide="next"><i class="fa fa-angle-right"></i></a>
                    <div class="carousel-inner">
                        <div class="item active">
                            <ul>
                                <li><a href="https://www.creditmutuel.fr/groupe/fr/index.html"><img class="img-responsive" src="images/sponsor/logo_credit_mutuel.png" alt=""></a></li>
                                <li><a href="http://www.eure-en-ligne.fr/cg27/accueil_eure_en_ligne"><img class="img-responsive" src="images/sponsor/logo_eure.png" alt=""></a></li>
                                <li><a href="http://www.mairie-marcilly-la-campagne.fr/"><img class="img-responsive" src="images/sponsor/logo_marcilly_la_campagne.png" alt=""></a></li>
                                <li><a href="http://principeactif.net/"><img class="img-responsive" src="images/sponsor/logo_PA.png" alt=""></a></li>
                                <li><a href="http://www.e-leclerc.com/st-lubin"><img class="img-responsive" src="images/sponsor/logo_leclerc_stlubin.png" alt=""></a></li>
                                <li><a href=""><img class="img-responsive" src="images/sponsor/conseil-optique.png" alt=""></a></li>
                            </ul>
                        </div>
                        <div class="item">
                            <ul>
                                <li><a href="#"><img class="img-responsive" src="images/sponsor/logo_rife.png" alt=""></a></li>
                                <li><a href="http://www.ville-saint-lubin-des-joncherets.fr/"><img class="img-responsive" src="images/sponsor/logo_saint-lubin.png" alt=""></a></li>
                                <li><a href="http://www.ccrse.fr/"><img class="img-responsive" src="images/sponsor/logo_ccrse.png" alt=""></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="light">
        <img class="img-responsive" src="images/light.png" alt="">
        </div>
    </div>
</section>
