<section id="album">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 portfolio">
                <h2 class="heading">Edition 2013</h2>
                {% for image in site.album_2013 %}
                    <div class="col-sm-4">
                        <div class="single-event">
                            <a href="#" data-image-id="" data-toggle="modal" data-title="" data-caption="" data-image="{{ image.image_path }}" data-target="#portfolioModalGallery">
                                <img class="gallery-img img-responsive" src="{{ image.image_path }}" alt="">
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section><!--/#event-->
