<section id="album">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 portfolio">
                <h2 class="heading">Edition 2013</h2>
                {% for image in site.album_2013 %}
                    <div class="col-sm-4">
                        <div class="single-event">
                            <img class="img-responsive carousel-img" style="width: auto" src="{{ image.image_path }}" alt="">
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section><!--/#event-->
